@media screen and (max-width: 1400px) {
  .home__picture {
    width: 46rem;
    height: 46rem;
  }
}
@media screen and (max-width: 1200px) {
  .home__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .home__picture {
    width: 40rem;
    height: 40rem;
    margin: 8rem auto;
  }
  .home__title {
  font-size: 5rem;
}
.home__name {
  font-size: 2.5rem;
}
}
@media screen and (max-width: 992px) {
  .nav__logo {
    font-size: 3rem;
  }
  .menu__items {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 100%;
    background-color: var(--section-bg-color);
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}
  .menu--open {
    height: 29.92rem;
  }
  .menu__items {
    margin-left: 0;
  }
  .menu__items {
    margin-bottom: 1.5rem;
  }
  .menu__items:first-child {
    margin-top: 1.5rem;
  }
  .nav__toggle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  
}